/* ----------상단영역 시작---------- */
#container_Title
{
    margin-top: 10px;
    font-size: var(--font-L);
}

#search
{
    font-size: var(--font-XL);
    margin-top: 28.5px;
    display: flex;
    align-items: center;
}

#search div
{
    margin-right: 40px;
}

.searchBarIcon
{
    width: 30px;
    height: 30px;
    margin-left: 30px;
    cursor: pointer;
}

.searchBar
{
    width: 300px;
    height: 30px;
    font-size: var(--font-XL);
    font-weight: var(--font-weight-light);
    background: none;
    border: 1px solid var(--color-text);
    border-radius: 4px;
    color: var(--color-blackToWhite);
    padding-left: 10px;
}

.searchBar::placeholder
{
    color: var(--color-placeholder);
}

a
{
    text-decoration: none;
    color: inherit;
}

#search
{
    font-size: var(--font-XL);
}

/* ----------상단영역 끝---------- */

/* ----------컨텐츠 테이블 시작---------- */
.container2
{
    width: calc(100% - 270px);
    margin: 15px auto;
}

.cont_tbl
{
    font-size: var(--font-XL);
    border-collapse: collapse;
    margin: 0;
    text-align: center;
    width: 100%;
}

/* row css */
.cont_tbl_r1
{
    height: 2.5rem;
    font-size: 28px;
}

.cont_tbl_r1 td
{
    padding: 30px 0;
    border-bottom: 2px solid gray;
    text-align: left;

}

.cont_tbl_r2 td
{
    width: 25%;
    height: 2.5rem;
    padding: 10px 0;
    border-bottom: 2px solid gray;
}

.cont_tbl_r3
{
    vertical-align: top;
    height: 500px;
    padding: 10px 0;
    font-size: var(--font-L);
}

.cont_tbl_r3 td
{
    padding: 30px 0 15px 0;
    text-align: left;
    line-height: 1.8rem;
}

/* ----------컨텐츠 테이블 끝---------- */

/* 버튼 */
.btn_container
{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.btn_group
{
    display: flex;
    gap: 8px;
    align-items: center;
}

.btn_board
{
    background-color: #4F505C;
    color: var(--color-white);
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-L);
    font-weight: var(--font-weight-regular);
    box-shadow: none;
}

.btn_board.point
{
    background-color: var(--color-warning);
    width: 100px;
    height: 40px;
    gap: 10px;
}

/* ----------댓글 등록하기 css 시작---------- */
.replyWrap
{
}

/* 댓글 불러오기 부분 */
.replyRead
{
    width: 100%;
    margin: 10px 0;
}

.replyRead td
{
    vertical-align: top;
    font-size: var(--font-M);
    padding: 5px 0;
}

.replyCol1
{
    width: 30px;
}

/* 이미지 */
.replyRead img
{
    width: 20px;
    height: 20px;
}

.replyCol2
{ /* 작성자 + 작성일 */
    width: 230px;
}

.replyCol3
{ /* 댓글 내용 */
}

.replyCol4
{ /* 삭제 버튼 */
    width: 50px;
    text-align: right;
}

.replyDeleteBtn
{
    border: 1px solid var(--color-warning);
    border-radius: 5px;
    padding: 2px 8px;
    background-color: var(--color-textField);
    font-size: var(--font-S);
    color: var(--color-warning);
}

/* 댓글 작성하는 부분 */
.replyPostWrap
{
    display: flex;
    width: 100%;
    height: 140px;
}

.replyArea
{
    width: calc(90% - 5px);
    margin: 0 5px 0 0;
    font-size: var(--font-L);
    background-color: var(--color-termsTextarea);
    color: var(--color-text);
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    resize: none;
}

.replyBtn
{
    width: 10%;
    text-align: center;
    line-height: 140px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: var(--color-point);
    color: var(--color-white);
    font-size: var(--font-M);
}

/* ----------댓글 등록하기 css 끝---------- */




