.wrap
{
    background-color: #eee;
    width: calc(100% - 20px);
}

/* 배경 */
.blueContainer
{
    height: 132px;
    background-color: var(--color-point);
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.blueContainer .name
{
    font-size: 30px;
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
}

/* 내가쓴글 , 댓글 , 포인트 */
.summaryContainer
{
    background-color: var(--color-terms);
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 90px;
}

/* 내가쓴글 , 댓글 , 포인트 */
.summaryContainer .item
{
    flex-grow: 1;
    padding-left: 10px;
    padding-top: 10px;
}

/* 텍스트 */
.summaryContainer .item > div:nth-child(2)
{
    font-size: 13px;
}

/* 아이디 닉네임 */

.listContainer
{
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
}

.listContainer .item
{
    display: flex;
    align-items: center;
    padding: 16px;
    color: black;
    text-decoration: none;
    height: 56px;
    box-sizing: border-box;
}

.text
{
    margin-right: 14px;
    text-align: center;
}

.listContainer .listinputBox
{
    font-size: 16px;
    position: relative;
}

.listContainer .right
{
    text-align: right;
}

.updateBtn
{
    background-color: #5865F2;
    color: #FFFFFF;
    border-radius: 6px;
    border: 0;
    width: 50px;
    height: 25px;
    text-decoration: none;
    text-align: center;
    font-size: var(--font-L);
    margin-left: 5px;
}

.ipSet
{
    width: 170px;
    height: 30px;
    font-size: var(--font-L);
    border-radius: 5px;
    border: 0;
}

.ipSet:focus
{
    outline: none;
}

/* 모달 */
.modal
{
    position: fixed;
    width: 406px;
    height: 350px;
    left: 40%;
    top: 15%;
    display: none;
}

.section_pwconfirm
{
    line-height: 14px;
    margin: 0 auto;
    padding: 32px 29px 32px;
    text-align: center;
    border: 1px solid #dadada;
    background: #fff;
}

fieldset
{
    border: 0;
    text-align: center;
}

/* 비밀번호 변경 */
.spc_header h2
{
    font-size: 20px;
    line-height: 22px;
    color: var(--color-black);
}

.contxt
{
    color: var(--color-black);
}

/* 다른 아이디/사이트에서 사용한 적 없는 비밀번호 */
.spc_header .contxt em, .spc_header .contxt_list em
{
    color: #ff6020;
}

/* 이전에 사용한 적 없는 비밀번호가 안전합니다. */
.spc_header .contxt_list
{
    margin-top: 8px;
    padding-left: 5px;
    font-size: var(--font-M);
    color: #666;
}

/* 현재 비밀번호 */

.spc_content [class^="spc_row"]
{
    position: relative;
    height: 43px;
    border: 1px solid #ccc;
}

.spc_content [class^="spc_row"] input[type="password"], .spc_row .txt_userid
{
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    height: 16px;
    margin: 15px 9px 0;
    vertical-align: top;
    color: #333;
    border: 0;
}

#fm legend
{
    margin-bottom: 18px;
    color: var(--color-black);
}

#fm input
{
    width: 260px;
    height: 30px;
    margin: 8px 0;
}

/* 버튼 */
.spc_content .btn_area_btm button:first-child
{
    margin-top: 0;
    color: #fff;
    border: none;
    background: var(--color-point);
}

.spc_content .btn_area_btm button:first-child:hover
{

    background: var(--color-pointhover);
}

.spc_content .btn_area_btm button
{
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    width: 260px;
    height: 47px;
    margin-top: 8px;
    padding: 16px 0 15px;
    text-align: center;
    color: #333;
    border: 1px solid #bfbfbf;
    border-radius: 8px;
    background: #fff;
}

button
{
    border: 0;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

#pwdchange
{
    color: var(--color-point);
    text-decoration: none;
}

#delAccount
{
    color: var(--color-black);
    text-decoration: none;
    font-size: var(--font-L);
}

#submitBtn1-1,#submitBtn2-1
{
    background-color: var(--color-darkgray);
    display: none;
}

/* 모달2 */
.modal_2
{
    position: fixed;
    width: 406px;
    height: 350px;
    left: 40%;
    top: 15%;
    display: none;
}

.modal_2 em
{
    color: red;
}

.modal_2 h2
{
    color: var(--color-black);
}

.modal_2 .contxt
{
    color: var(--color-black);
}

.modal_2 legend
{
    color: var(--color-black);
}

