@charset "UTF-8";
a
{
    text-decoration: none;
    color: var(--color-text);
}

#container_Title
{
    margin-top: 10px;
    font-size: var(--font-L);
}

#searchFrm {
	display:flex;
	align-items:center;
	gap:40px;
}

#search
{
    font-size: var(--font-XL);
    margin-top: 28.5px;
    display: flex;
    align-items: center;
    gap:40px;
    margin-bottom:30px;
}

#search div
{
}

.searchBarIcon
{
    width: 30px;
    height: 30px;
    cursor: pointer;
    user-select: none;
}

.searchBar
{
    width: 300px;
    height: 30px;
    font-size: var(--font-XL);
    font-weight: var(--font-weight-light);
    background: none;
    border: 1px solid var(--color-text);
    border-radius: 4px;
    color: var(--color-blackToWhite);
    padding-left: 10px;
}

.searchBar::placeholder
{
    color: var(--color-text);
}



/* 탭메뉴선택관련 */
.menu-level1
{
    padding: 0px;
    font-size: var(--font-L);
    list-style: none;
    display: flex;
    height: 35px;
    line-height: 35px;
    gap: 4px;
    flex-direction: row;
}

.menu-level1 > li
{
    border-radius: 4px;
    width: 100px;
    text-align: center;
    background-color: var(--color-white);
}

.menu-level1 li.on
{
    background-color: var(--color-point);

}

.menu-level1 li a
{
    text-decoration: none;
}

.menu-level1 li a.on
{
    color: var(--color-white);

}

.l2-list
{
    color: var(--color-text);
}

.l2-list.on
{
    font-weight: var(--font-weight-bold);
}

li a
{

    color: var(--color-black);
}

/* 탭 컨텐츠 시작 */
.tabContents
{
    height: calc(100vh - 260px);
    width: calc(100% - 20px);
    display: none;
    margin-top: 30px;
}

.tabContents div
{
    font-size: var(--font-L);
}

.tabContents.on
{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    color: var(--color-white);
}

/* 탭 컨텐츠 끝 */


/* gif호버 애니메이션 설정 */
.hov-ani
{
	display:flex;
	flex-direction:column;
	justify-content: space-around;
}
.hov-ani-box {
	display:flex;
	flex-direction:column;
	justify-content: space-around;
}

.hov-ani-box img
{
	width:100%;
	height:15vh;
	background-color:white;
	
}

.hov-anim {
}

.hov-ani-title {
}

/* gif 호버 애니메이션 끝 */

/* 페이지네이션 시작 */
.page_wrap
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: calc(50% - 80px);
}

.page_num
{
    margin: 3px;
    float: left;
    border-radius: 5px;
    border: 1px solid var(--color-darkbtn);
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: var(--color-whiteToBlack);
    font-size: var(--font-L);
    color: var(--color-text);
    text-decoration: none;
}

.page_num.on
{
    background-color: var(--color-blackToWhite);
    color: var(--color-whiteToBlack);
}

.page_wrap img
{
    width: 20px;
    height: 20px;
}

/* 페이지네이션 끝 */

.tab1_page
{
    display: none;
}

.tab2_page
{
    display: none;
}

.tab1_page.on
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tab2_page.on
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.page_arrow
{
    cursor: pointer;
}

.boardfoot
{
    display: flex;
    /* width:100%; */
    width: calc(100% - 20px);
    margin: 10px 0;
}

.post
{
    display: flex;
    margin-left: auto;
}

.addBtn
{
    background-color: var(--color-point);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    height: 2.2rem;
    text-align: center;
    line-height: 2.2rem;
    font-size: var(--font-L);
    text-decoration: none;
}

/* 아이콘 보기 시작 */
.ud_container
{
    width: calc(100% - 20px);
}

.ud_title
{
    height: 100%;
    margin: 50px 0 20px 0;
    font-size: 2rem;
    padding: 5px 0 10px 0;
    border-bottom: 1px solid var(--color-text);

}

.urcon_detail
{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.ud_img img
{
    width: 300px;
}

.ud_contents {
    font-size: var(--font-M);
}

.ud_discription {
    height: 222px;
    padding-top: 6%;
}


.ud_price {
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: var(--color-point);
    border: none;
    font-size: var(--font-M);
    border-radius: 5px;
    color: var(--color-white);
    cursor: pointer;
}
.ud_price:hover {
    background-color: var(--color-pointhover);
}

.urcon_infobox {
    font-size: var(--font-M);
}

/* 아이콘 보기 끝 */

/* 가이드 시작 */
.guideCont {
	display:flex;
	flex-direction:column;
	border:1px solid red;
	width:calc(100% - 20px);
	font-size:var(--font-M);
}
.guideContTop {
	font-size:var(--font-L);
}
/* 가이드 끝 */


