@charset "UTF-8";

  footer {
  position: relative;
  top: 60px;
  left: 200;
  height: 220px;
  text-align: center;
  background-color: rgb(23, 23, 24);
  color: white;
}

#footer-terms {
  padding-top: 50px;
  font-size: 1.2rem;
  font-weight:800;
  display: flex;
  width: 300px;
  margin-left: 44%;
}

#logo {
	margin-right: 10px;
}

.footertxt {
	margin-top: 15px;
}