@charset "UTF-8";


header {
}

#headerTop {
  display: flex;
  height: 80px;
  background-color: rgb(255, 255, 255);
}

#headernav {
  margin-left: auto;
  display: flex;
}
#tomain, .tomain {
	text-decoration:none;
	color:black;
}


#headernav li {
  width: 80px;
  height: 40px;
  font-size: 1.1rem;
  margin: 20px 10px 0px 0px;
  line-height: 40px;  
}

#todobtn a {
  color: black;
}


#headerBottom {
  background-color: black;
  height: 150px;
  color: white;
  text-align: center;
  line-height: 150px;
  margin-left:200px;

}

      
    /* todo */

#todolist {
    padding: 10px;
    z-index: 98;
    background-color: rgb(255, 255, 255);
    border: 1px solid silver;
    box-shadow: 5px 5px 5px rgb(225, 225, 225);

}

#todolist ul {
    display: flex;
}

#todolist .on {
  background-color: slateblue;
}

#todolist li {
    background-color: darkgray;
    width: 100px; height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
    border-radius: 5px 5px 0px 0px;
    
    /* border: 1px solid black; */
}

#txtbox {
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;        

}

#txt {
    height: 30px;
    width: 320px;
    padding-left: 5px;
}

.add {
    width: 30px;
    height: 30px;       
    border-radius: 5px;
    font-size: 1.2rem;
    line-height: 30px;
    text-align: center;
    color: white;
    background-color:  rgb(98, 76, 194);
    margin-top: 2px;
    margin-left: 5px;
    
}

#todolist a {
    color: white;
}

.contentbox {
    width: 100%;          
    border: 1px solid black;
    height: 400px;
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
}


.doit {
    overflow: auto;
}

.done {
    display: none;
}

.td1, .td3 {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.boxBtn {
    width: 20px;
      
    border-radius: 5px;
    background-color: rgb(203, 203, 203);
    cursor: pointer;
}

.todoTd {width: 90%;}

#todolist {
    display: none;
}
