@charset "UTF-8";

#side_nav {
  display: block;
  left: 0;
  top: 0;
  margin-left: 0;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 200px;
  background-color: var(--color-darkgray);
  color: white; 
  z-index: 99;
}

#nav-header
{
    display: flex;
    margin-top: 20px;
    justify-content:center;
    
}
#logo {
	margin-right:0 !important;
}

#nav-header #logo-name
{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    padding: 2px;
    color: var(--color-text);
    
}


#side_nav a {
  color: white;
}

#side_nav h1 {
    text-align: center;
    line-height: 80px;
}


.sidemenu {
  margin-left: 30px;
}

.sidemenuTop {
  height: 100px;
  margin-top: 12px;
}

.sidemenuBottom {
  height: auto;
  margin-top: 20px;
}

#side_nav li {
  margin: 6px 0px;
}

.sidemenuBottom>li {
    padding: 5px 0px;
}

.subnav {
  font-size: 14px;
  margin-left: 32px;
}
